body {
    margin: 0;
    height: 100vh;
    background-color: #123;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, p {
    font-family: 'Roboto', sans-serif;
    color: #123;
}

.box {
    height: 50vmin;
    width: 50vmax;
    background-color: white;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.css-input { 
    border-radius: 20px;
    border: none; 
    font-size:2rem; 
    padding:5px; 
    text-align:center; 
    background-color:#123; 
    color:white; 
    text-shadow:2px 0px 0px rgba(42,42,42,.75); 
    font-style:none;
    width: 30vw;
    margin-top: 3%;  
    transition: 1s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.css-input:focus { 
    outline:none;
 } 

.css-input:hover{
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}

.padrao-senha, .checkbox-padrao {
    display: flex;
    flex-direction: row;
}

.checkbox-padrao {
    gap: 5px;
}

button {
    border: none;
    border-radius: 10px;
    background-color: #123;
    color: white;
    padding: 10px;
    font-size: 1rem;
    margin-top: 2.5%;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 15px 5px #000000;
}

.resposta {
    display: none;
    transition: 1s;
}

.resposta-on{
    display: inline-block;
}

@media screen and (max-width:1000px){
    body {
        align-items: flex-start;
    }
    
    .box {
        margin-top: 10%;
        border-radius: 0;
        width: 100vh;
        height: 50vh;
        gap: 30px;
    }

    .css-input {
        font-size: 1rem;
    }

    h2 {
        margin-top: 10%;
    }
}